.killer-container {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.killer-container > h1 {
    text-align: center;
}

.camera-scan {
    height: 200px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: black;
}

.killer-general{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.killer-general > p {
    margin-top: 10%;
    text-align: center;
}

.killer-button{
    display: flex;
    align-items: center;
    justify-content: center;
}