table {
    width: 100%;
}

.taula-ranking {
    margin-top: 10%;
}

th,
td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #E1E1E1;
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}

canvas{
    justify-content: center;
}

.boxQr{
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    align-items: center;

}
.Qr{
    width: 100%;
    text-align: center;
}

.QrContainer{
    alignItems: 'center';
    flex: 1;
}

.qr-alignment{
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}